<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmNest - Movie and Series</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="bg"></div>
<div class="container">
    <div class="overlay"></div>
    <section class="content">
        <a href="/movie">
            <button class="btn movie-btn">Movies</button>
        </a>
        <a href="/series">
            <button class="btn series-btn">Series</button>
        </a>
    </section>
    <div class="header">
        <h1>FilmNest</h1>
    </div>
</div>

</body>
</html>
