<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Search</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .hidden {
            display: none;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <div class="movie-form">
        <form method="POST">
            <label for="user_input">Movie Title:</label>
            <input type="text" id="user_input" name="user_input" required>

            <label for="endpoint">Select Server:</label>
            <select id="endpoint" name="endpoint">
                {% for key, value in endpoints.items() %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn">Search</button>
        </form>

        {% if video_url %}
        <div class="movie-button">
            <button class="btn" id="watchMovieButton">Watch Show</button>
        </div>
        <div id="movieIframeContainer" class="hidden">
            <iframe id="movieIframe" src="" allowfullscreen></iframe>
        </div>
        {% elif error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const watchMovieButton = document.getElementById("watchMovieButton");
            const movieIframeContainer = document.getElementById("movieIframeContainer");
            const movieIframe = document.getElementById("movieIframe");

            if (watchMovieButton) {
                watchMovieButton.addEventListener("click", () => {
                    // Set the `src` of the iframe to the `video_url` and show it
                    movieIframe.src = "{{ video_url }}";
                    movieIframeContainer.classList.remove("hidden");
                });
            }
        });
    </script>
</body>
</html>
